<h2 class="text-muted subtitle">
    Search for your favorite character:</h2>
<div class="footer-content row">
    <div class="container">
        <div class="col-8 offset-2">
            <form action="/search" method="GET">
                <input type="search" name="hero" id="search-bar" class="search" placeholder="Input the hero name...">
            </form>
        </div>
    </div>
    <div class="groot">
        <img src="assets/img/groot.png" alt="Groot Picture">
    </div>
</div>