<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&text=HOME%20ABOUT%20HAVE%20FUN" rel="stylesheet">
    <title>Marvel Superheroes</title>
  </head>
  <body>
    <header>
      <nav id="main-menu" role="navigation">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Have fun</a>
          </li>
        </ul>
      </nav>
      <div class="hero">
        {{!-- Hero img area loaded through CSS file --}}
      </div>
    </header>
    {{!-- section about it --}}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="about col-6">
            <div class="about-header">
              <h1 class="text-muted">Do you think you <strong>KNOW</strong> them?</h1>
            </div>
            <div class="about-content">
              <p class="subtitle">This guy over here disagree with you!!!!!!! Give a <strong>try</strong> below.</p>
            </div>
          </div> <!-- col-6-->
        </div><!--.row-->     
      </div>
    </section>
    <footer class="text-center">
      <h2 class="text-muted subtitle">Search for your favorite character:</h2>
      <div class="footer-content row">
        <div class="container">
          <div class="col-8 offset-2">
            <form action="/search" method="GET">
              <input type="search" name="hero" id="search-bar" class="search" placeholder="Input the hero name...">
            </form>
          </div>
        </div>
        <div class="groot">
          <img src="assets/img/groot.png" alt="Groot Picture">
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>