<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{!-- load the stylesheets --}}
    {{> styles}}
    <title>Marvel Superheroes</title>
  </head>
  <body>
    <header>
      {{!-- loads the menu --}}
      {{> menu}}
      <div class="hero">
        {{!-- Hero img area loaded through CSS file --}}
      </div>
    </header>
    {{!-- section about it --}}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="about col-6">
            <div class="about-header">
              <h1 class="text-muted">Do you think you <strong>KNOW</strong> them?</h1>
            </div>
            <div class="about-content">
              <p class="subtitle">This guy over here disagree with you!!!!!!! Give a <strong>try</strong> below.</p>
            </div>
          </div> <!-- col-6-->
        </div><!--.row-->     
      </div>
    </section>
    {{!-- loads the footer section --}}
    <footer class="text-center">
      {{> footer}}
    </footer>
    {{!-- include the scripts of the page --}}
    {{> scriptsTemplate}}
  </body>
</html>